/*Main Styling*/

body {
    font-family: "Arial", sans-serif;
    font-size: 13px;
    margin: 0;
}

a, p, #country {
    color: #757575;
    text-decoration: none;
}

/*Navbar Styling*/

nav {
    float: right;
    margin-right: 20px;
}

nav p, nav button{
    display: inline-block;
    padding: 10px;
    font-size: 13px;
}

nav button {
    margin-left: 10px;
    background-color: #4583ee;
    border: 1px #4583ee solid;
    border-radius: 3px;
    padding: 7px 14px;
}

nav button a {
    color: white;
    font-weight: bold;
}

nav img {
    height: 27px;
    width: auto;
    position: relative;
    top: 10px;
}

/*Search Styling*/

form {
    width: 50%;
    position: relative;
    top: 200px;
    margin: 0 auto;
    display: block;
    text-align: center;
}

form img {
    display: block;
    height: 92px;
    width: auto;
    margin: 0 auto;
}

form input {
    width: 600px;
    height: 38px;
    margin-top: 25px;
    border: 1px #dfe1e5 solid;
    border-radius: 18px;
}

#mic {
    height: 28px;
    width: auto;
    position: relative;
    bottom: 35px;
    left: 275px;
}

form button {
    display: inline-block;
    margin: 0px 3px 10px 3px;
    padding: 10px 13px;
    font-size: 15px;
    background-color: #f2f2f2;
    border: 1px #f2f2f2 solid;
    border-radius: 4px;
}

form p a {
    color: #362bb2;
    margin: 0 0.4em;
}

form p {
    color: black;
}

/*Bottom Styling*/

#country {
    font-size: 15px;
    position: absolute;
    top: 89%;
    padding: 10px 0;
    padding-left: 30px;
    border-top: 1px #e4e4e4 solid;
    background-color: #f2f2f2;
    height: 7%;
    width: 98.4%;
}

footer {
    position: absolute;
    top: 94%;
    width: 100%;
    background: #f2f2f2;
    border-top: 1px #e4e4e4 solid;
    height: 5.9%;
}

.left p, .right p {
    display: inline-block;
    padding: 3px 15px;
}

.left {
    position: absolute;
    padding-left: 15px;
}


.right {
    position: absolute;
    left: 88%;
}

/*Hover Effects etc.*/

a:hover {
    text-decoration: underline;
}

input:hover {
    box-shadow: 4px 4px 1px 1px #e4e4e4;
}

button a:hover {
    text-decoration: none;
    color: black;
}

button:hover {
    border: 2px #e4e4e4 solid;
    border-radius: 4px;
    padding: 10px 13px;
}